/* FrequentWordsPiePlot.css */

* {
  box-sizing: border-box;
}

.FrequentWordsPiePlot {
    display: grid;
    width: 100%;
    height: 0;
    /* grid-template-columns: 37.5% 50% 12.5%;
    grid-template-rows: 16.67% 66.66% 16.67%; */
    grid-template-columns: 3fr 4fr 1fr;
    /* grid-template-rows: 1fr 4fr 1fr; */
    grid-template-areas: 
        "header .      .  "
        "total  plot-container   checkboxes"
        "total  slider .";
}

/* Corresponds to .grid__item[nth-child]*/
.PiePlotContainer {
    grid-area: plot-container;
    /* display: grid; */
    grid-template-areas: "plot";

    width: 100%;
    height: 0;

    min-width: 200px;
    padding-top: 100%;

    position: relative;
    justify-items: center; 
    align-items:   center;   
}

/* .PiePlot::before {
    width: 100%;
    content: "";
} */

/* Corresponds to .grid__item .content */
.PiePlot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    align-self: center;
    justify-self: center;
}


.SliderContainer {

}

.Slider {
    width: 100%;
    grid-area: slider;
}


.CheckboxesContainer {

}

.Checkboxes {
    width: 100%;
    grid-area: checkboxes;
    align-self: center;
    justify-self: center;
}

.HeaderContainer {

}

.Header {
    width: 100%;
    grid-area: header;
    color: "white";
}


.TotalContainer {

}

.Total {
    width: 100%;
    grid-area: total;
    align-self: center;
    justify-self: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~` */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid__item {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
}
.grid__item:nth-child(1) {
  grid-column: 1 / 3;
}
.grid__item:nth-child(1)::before {
  padding-top: 50%;
}
.grid__item:nth-child(1) .content {
  -webkit-box-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
}
.grid__item:nth-child(2) {
  grid-column: 3 / 4;
  justify-self: center;
}
.grid__item:nth-child(3) {
  grid-column: 1 / 2;
}
.grid__item:nth-child(4) {
  grid-column: 2 / 3;
}
.grid__item:nth-child(5) {
  grid-column: 3 / 4;
}
.grid__item:before {
  content: "";
  height: 0;
  display: inline-block;
  padding-top: 100%;
  width: 10px;
  position: relative;
}
.grid__item .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  justify-items: start;
  -webkit-box-align: end;
          align-items: end;
}
.grid__item .content-lr {
  place-items: end end;
  text-align: right;
}
.grid__item .content-inside {
 /* padding: 2rem; */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container {
    display: grid;
    height: calc(50vw - 5px);  /*instead playing around with grid gap gap */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 200px;
    min-width: 400px;
  }
  
  .container div {
    /* bg to show i'm squarred or not ? */
    background-image: linear-gradient( 45deg, transparent 50%, rgba(0, 0, 0, 0.5) 50%);
   
   margin: 0 5px 5px 0;  /*instead playing around with grid gap gap */
    background-color: red;
  }